graft jupyter_dojo/static
graft labextension/src
graft nbextension/src
include labextension/package.json
include nbextension/package.json
include LICENSE
include README.md
include setupbase.py
recursive-include jupyter_dojo/static *.*
include labextension/*.tgz
include jupyter_dojo/*.tgz
